.projects-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15vh;
  padding: 5vmin;
  background-color: rgba(0, 0, 0, 0.689);
  color: white;
}
.projects-title {
  font-weight: bold;
}

.carousel {
  display: flex;
  flex-direction: column;
}

.carousel__viewport {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
}

.carousel__slide:before {
  transform: translate3d(-50%, -40%, 70px);
  color: #fff;
  font-size: 2em;
}

.carousel__snapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  scroll-snap-align: center;
}
.carousel__snapper > img {
  width: 100%;
  height: 40vh;
}

.carousel__link {
  margin-top: 2vmin;
  color: #fff;
}

.carousel__btns {
  margin-top: 3vmin;
  display: flex;
  justify-content: space-between;
}
.carousel__btns > a {
  margin: 0 3vmin;
  color: white;
  font-size: 30px;
}
.img { 
  background-size: cover;
}

/* desktop view */
@media only screen and (min-width: 961px) {
  .carousel__snapper {
    display: flex;
    align-items: center;
  }
  .carousel__snapper > img {
    width: 60%;
    height: auto;
  }
  .carousel__btns > a {
    margin: 0 25vmin;
  }
}
