# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# unused for now
seed.js 
/src/components/BlogForm
/src/components/images
/src/pages/AllWorkPage
/src/pages/Blog
/src/pages/NewEntry
/src/store
.reportWebVitals.js
.setupTests.js


# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
