.all-work-container {
  color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  background-image: url("https://i.imgur.com/CGT8QgD.gif");
  height: 100vh;

}
.list-container {
  background-color: rgba(0, 0, 0, 0.689);
  padding-top: 5vmin;
  border: 2px solid white;
}
.list-container > h2 {
  background-color: rgba(0, 0, 0, 0.916);
}

table { 

    width: 100%;
    text-align: left;
}
th, td { 
    padding: 0 2vmin;
}
@media only screen and (min-width: 961px) {
  .all-work-container { 
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

}
