.home-container {
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.bg-image {
  background: linear-gradient(0.25turn, #000000, #ffffff, #000000);
}

/* header */
.header-container {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.689);
  color: white;
  padding: 3vmin;
  font-size: 4vmin;
}
.row {
  width: auto;
}
.header-container > h3 {
  text-align: center;
}
.header-container > h4 {
  text-align: center;
}

/* about */
.about-container {
  height: auto;
  width: 100%;
  padding: 5vmin;
  background-color: rgba(0, 0, 0, 0.388);
  color: white;
}

.about-details {
  display: flex;
  flex-direction: column;
}
.about-details > h4,
.about-details > img {
  text-align: center;
}
.about-card {
  display: flex;
  flex-direction: column;
}
.profile-pic {
  aspect-ratio: 1/1;
  object-fit: contain;
  height: 50vmin;
}

section {
  margin: 3vmin 0;
}

.about-title {
  font-size: 8vmin;
  margin-bottom: 2vmin;
  color: #99ff99;
}

/* Me */

.section-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.container-display > * {
  padding: 3vmin;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0.388);
}

.section-select {
  padding: 1vmin;
  margin: 1vmin 0;
  width: 100%;
  height: 100%;
}

.me-container > * {
  padding: 1vmin;
}

.edu-details {
  display: grid;
  grid-template-columns: 1fr 7fr;
}
.edu-img {
  aspect-ratio: 1/1;
  width: 50px;
  border-radius: 100%;
  object-fit: contain;
  background-color: #ffffff;
}

.my-education > .edu-details {
  margin-bottom: 1vmin;
}

.my-skills {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.skill-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.skill-details > p {
  padding-right: 3vmin;
}
.skill-details > img {
  margin-right: 1vmin;
  aspect-ratio: 1/1;
  width: 25px;
  border-radius: 100%;
  object-fit: cover;
  background-color: #ffffff;
  border: 2px solid #99ff99;
}

.about-me > p,
.read-more > p {
  font-weight: bold;
  margin-bottom: 2vmin;
  text-indent: 2em;
  text-align: left;
  transition: 0.4s;
}

.about-me > p > ul {
  margin-left: 2em;
} 

.about-me > p > a {
  text-decoration: none;
  color: #99ff99;
}

/* footer */
footer {
  margin-top: auto;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 2vmin;
}

.contact-details {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-weight: bold;
}
.contact-details > a > svg {
  display: none;
}
.mailto {
  color: white;
  text-decoration: none;
}

.socials-icons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.socials-icons-container > div > a > img { 
  margin: 0 7px;
}

.socials-icons {
  display: flex;
  height: 30px;
  aspect-ratio: 1/1;
  object-fit: contain;
}

.resume {
  width: 45px;
  color: white;
}

@media only screen and (min-width: 401px) and (max-width: 960px) {
}

@media only screen and (min-width: 961px) {
  .home-container {
    align-items: center;
  }
  .about-container {
    display: flex;
    justify-content: center;
  }
  .about-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .about-details {
    width: 70%;
  }
  .about-card {
    display: flex;
    flex-direction: row;
  }
  .about {
    width: 70%;
  }
  .about-title {
    text-align: left;
  }
  .section-container > .filter-button { 
    font-size: 16px;
  }
  .me-container {
    width: 70vmin;
  }
  .me > p {
    font-size: 18px;
  }
  .read-more {
    font-size: 18px;
  }
  .contact-details > a > svg {
    display: unset;
  }
  .socials-icons-container {
    display: unset;
    position: fixed;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.098);
  }

  .socials-icons-container > div {
    display: flex;
    justify-content: center;
    margin: 3vmin 0;
  }
  .socials-icons {
    display: block;
    text-align: center;
    transition: all 0.3s ease;
    height: 45px;
  }
  footer {
    justify-content: center;
  }
  .contact-details {
    text-align: center;
  }
}
