.newentry-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.form-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
}
.entry-title {
  width: 100%;
}
textarea {
  width: 100%;
  height: 70vh;
}
