.header-container {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.title { 
  border: 1px solid white;
  color: white;
  padding: 3vmin;
}
.row {
  width: auto;
}
.header-container > h3 {
  text-align: center;
}
.header-container > h4 {
  text-align: center;
}
