nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
  height: 5vh;
  align-items: center;
  background-color: black;
}
nav > * {
  text-decoration: none;
  color: white;
  list-style-type: none;
  padding: 15px 3px;
}

.hamburger-menu {
  margin-left: 3vmin;
  font-size: 35px;
  align-content: center;
}
.hamburger-menu:hover {
  cursor: pointer;
}
.home {
  margin-left: 3vmin;
}
.home:hover {
  background-color: rgba(255, 255, 255, 0.209);
}
.projects {
  margin-left: auto;
}
.projects:hover {
  background-color: rgba(255, 255, 255, 0.209);
}

.skills {
  margin: 0 3vmin;
}
.skills:hover {
  background-color: rgba(255, 255, 255, 0.209);
}

/* modal start */
.exit-modal {
  margin: 3vmin;
  text-align: right;
  font-weight: bold;
  font-size: 35px;
}
.exit-modal:hover {
  cursor: pointer;
}
.overlay {
  height: 100%;
  width: 50vmin;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}
