nav { 
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
    height: 5vh;
    align-items: center;
}
.home { 
    margin-left: 3vmin;
}
.projects { 
    margin-left: auto;
}

.skills { 
    margin: 0 3vmin;
}

