footer {
  margin-top: auto;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  padding: 2vmin;
}

.contact-details { 
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 2vmin;
  font-weight: bold;
}
.socials-icons-container { 
  display: flex;
  flex-direction: row;

}
.socials-icons { 
  margin: 0 2vmin;
  height: 45px;
}