* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  text-align: center;
  height: 100vh;
  font-family: 'Courier New', Courier, monospace;
}


@media only screen and (min-width: 961px) {
  .app-container { 
    display: flex;
    justify-content: center;
  }
  .App{
      width: 100%;
  }
}
