* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* scrollbar-color: transparent transparent; thumb and track color */
  /* scrollbar-width: 0px; */
}
/* *::-webkit-scrollbar {
  width: 0;
} */

/* *::-webkit-scrollbar-track {
  background: transparent;
} */

/* *::-webkit-scrollbar-thumb {
  background: transparent;
  border: none;
} */

/* * {
  -ms-overflow-style: none;
} */

.App {
  text-align: center;
  height: 100vh;
}
