.page-container {
  padding: 5vmin 0;
  height: auto;
  background-color: rgba(0, 0, 0, 0.471);
  color: white;
  display: flex;
  flex-direction: column;
  overflow: auto;
  justify-content: center;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.project-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  margin: 0 6vmin;
}

.project-nav > * {
  color: white;
  text-decoration: none;
}

.project-detail-container {
  padding: 3vmin;
  background-color: rgba(0, 0, 0, 0.689);
}
.project-details > h4 {
  font-size: 25px;
  margin-bottom: 3vmin;
}
.projects-title {
  margin: 3vmin 0;
  font-size: 25px;
  font-weight: bold;
  color: #99ff99;
}
.project-summary {
  margin-bottom: 1vmin;
  text-align: left;
  text-indent: 2rem;
}
.project-responsibilities {
  margin-bottom: 1vmin;
  text-align: left;
}
.project-links {
  text-decoration: none;
  margin: 0 2vmin;
  color: #99ff99;
  font-weight: bold;
}

.carousel__viewport {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  overflow: hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel__slide {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
}

.carousel__slide:before {
  transform: translate3d(-50%, -40%, 70px);
  color: #fff;
  font-size: 2em;
}
.carousel__snapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  scroll-snap-align: center;
}
.carousel__snapper > .img {
  width: 100vmin;
  aspect-ratio: 16/9;
  object-fit: contain;
  height: auto;
}
.carousel__btns {
  margin: 3vmin 0;
  display: flex;
  justify-content: space-between;
}
.carousel__btns > a {
  margin: 0 3vmin;
  color: #99ff99;
  font-size: 30px;
}

/* desktop view */
@media only screen and (min-width: 961px) {
  .projects-summary {
    max-width: 50vmin;
  }
  .project-detail-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .project-details {
    width: 70%;
    justify-content: center;
  }
  .carousel {
    align-items: center;
  }
  .carousel__btns {
    justify-content: center;
  }
  .carousel__btns > h3 {
    color: #99ff99;
    font-size: 4vmin;
  }

  .carousel__snapper {
    display: flex;
    align-items: center;
    height: auto;
  }
  .img-container > .main-img {
    width: auto;
    height: 70vmin;
  }
  .carousel__btns > a {
    margin: 0 25vmin;
  }
  .carousel__link {
    font-size: 20px;
  }
  .projects-summary {
    width: 70%;
  }
  .main-img {
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
  }
}
/* tablet view */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .projects-summary {
    max-width: 50vmin;
  }
  .project-detail-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .project-details {
    width: 70%;
    justify-content: center;
  }
  .carousel {
    align-items: center;
  }
  .carousel__btns {
    justify-content: center;
  }
  .carousel__btns > h3 {
    color: #99ff99;
    font-size: 4vmin;
  }

  .carousel__snapper {
    display: flex;
    align-items: center;
    height: auto;
  }
  .img-container > .main-img {
    width: auto;
    height: 70vmin;
  }
  .carousel__btns > a {
    margin: 0 25vmin;
  }
  .carousel__link {
    font-size: 20px;
  }
  .projects-summary {
    width: 70%;
  }
  .main-img {
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
  }
}

