.page-container {
  padding: 5vmin 0;
  height: auto;
  background-color: rgba(0, 0, 0, 0.471);
  color: white;
  display: flex;
  flex-direction: column;
  overflow: auto;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  
}
.project-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  margin: 0 6vmin;
}

.project-nav > * {
  color: white;
  text-decoration: none;
}

.project-detail-container {
  padding: 3vmin;
  background-color: rgba(0, 0, 0, 0.689);
}
.project-name {
  margin-bottom: 3vmin;
}
.project-summary {
  margin-bottom: 1vmin;
}
.project-responsibilities {
  margin-bottom: 1vmin;
}
.github {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
