.page-container {
  padding: 5vmin 0;
  height: auto;
  background-color: rgba(0, 0, 0, 0.471);
  color: white;
  display: flex;
  flex-direction: column;
  overflow: auto;
  display: flex;
  justify-content: center;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.project-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  margin: 0 6vmin;
}

.project-nav > * {
  color: white;
  text-decoration: none;
}

.project-detail-container {
  padding: 3vmin;
  background-color: rgba(0, 0, 0, 0.689);
}
.project-details > h4 {
  font-size: 24px;
  color: #99ff99;
}
.project-name {
  margin-bottom: 3vmin;
}
.project-summary {
  margin-bottom: 1vmin;
  text-align: left;
  text-indent: 2rem;
}
.project-responsibilities {
  margin-bottom: 1vmin;
  text-align: left;
}
.project-links {
  text-decoration: none;
  margin: 0 2vmin;
  color: #99ff99;
  font-weight: bold;
}
.carousel__snapper > .img {
  width: 100vmin;
  aspect-ratio: 16/9;
  object-fit: contain;
  height: auto;
}
/* desktop view */
@media only screen and (min-width: 961px) {
  .carousel__snapper {
    height: auto;
  }
  .project-detail-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .project-details {
    width: 70%;
  }
}
